* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  font-weight: 300; /* ⭐ ตรงกับ Light ใน Figma */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {
  min-height: calc(100vh - 60px);
  padding: 20px;
}

.reservation-note {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
}
